
h2 {
    position: relative;
    top: -100px;
    opacity: 0;
    animation: slideFromTop 1s ease-in-out forwards;
}

@keyframes slideFromTop {
    0% {
        top: -100px;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

form {
    position: relative;
    top: 100px;
    opacity: 0;
    animation: slideFromBottom 1s ease-in-out forwards;
}

@keyframes slideFromBottom {
    0% {
        top: 100px;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

table {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

