body {
    font-family: Arial, sans-serif;
    background-color: #424242;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
    color: aliceblue;
}
form {
    width: 300px;
    margin: 0 auto;
    background-color: aliceblue;
    padding: 50px;
    border-radius: 25px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"], input[type="email"], input[type="confirm-password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: separate;
    background-color: aliceblue;
    
}

thead th {
    background-color: #424242;
    color: aliceblue;
    padding: 10px;
    text-align: left;
}

tbody td {
    padding: 10px;
}

tbody tr:nth-child(even) {
    background-color: blanchedalmond;
}


